#home_pfp {
    margin-top: 25px;

    width: 250px;
    border-radius: 50%;
    border-color: rgb(100,100,100);
    border-width: 5px;
    border-style: double;
}

#home_links{
    margin-top: 10vh
}